.row{
    padding-right: 0;
    margin-right: 0;
    padding: 20px;
}

div{
    background-color: rgb(238, 209, 146);
}

h1, h3{
    display: inline;
}

ul{
    margin-left: 20px;
}

#tit{
    color: rgb(153, 131, 83);
    font-style: italic;
    font-weight: bolder;
}