<div class="row">
    <h1 id="tit">Experiencia Laboral</h1>
    <div class="col lg-12">
        
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sapiente consequatur provident dignissimos id maxime facilis asperiores expedita, velit impedit assumenda eius incidunt obcaecati ratione hic sunt non, molestias numquam?</p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sapiente consequatur provident dignissimos id maxime facilis asperiores expedita, velit impedit assumenda eius incidunt obcaecati ratione hic sunt non, molestias numquam?</p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sapiente consequatur provident dignissimos id maxime facilis asperiores expedita, velit impedit assumenda eius incidunt obcaecati ratione hic sunt non, molestias numquam?</p>
        </ul>

    </div>
</div>
