.row{
    padding-right: 0;
    margin-right: 0;
}
.container{
display: flex;
justify-content: space-between;
align-items: center;
}

#logoap{
    width: 150px;
}
#twitter{
    width: 50px;
}
#linkedin{
    width: 50px;
}
#facebook{
    width: 50px;
}
#github{
    width: 50px;
}
#instagram{
    width: 50px;
}
.btn{
    border-width: 2.9px;
}