    <div class="row">
       
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="assets/perfilfoto.jpg" class="img-fluid"  id="fotoperfil">
            <p id="nombre">MARIANA ARAN</p>
            <p id="titulo">Full Stack Developer</p>
        </div>

        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">

        </div>
       
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga ea perspiciatis doloremque facilis quaerat iusto maxime expedita eligendi enim quisquam, rem optio  dolorum eius culpa laborum, eum doloribus itaque delectus.
                </p>
            </span>
        </div>

    </div>